<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178907233965-vvensd7gv65mki5ulnpl4td4h338rask.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178907233965-vvensd7gv65mki5ulnpl4td4h338rask</string>
	<key>API_KEY</key>
	<string>AIzaSyAJB4brtTxerUdgWUi5xuaSup64Vy5EkcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>178907233965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yandexFlutterTask</string>
	<key>PROJECT_ID</key>
	<string>yandex-flutter-task</string>
	<key>STORAGE_BUCKET</key>
	<string>yandex-flutter-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178907233965:ios:f64d777947250852a75024</string>
</dict>
</plist>